data/*
!data/.gitkeep
# un-ignores the folder data/scene-areas-hierarchy-rsa/
!data/scene-areas-hierarchy-rsa/
data/scene-areas-hierarchy-rsa/*
.ipynb_checkpoints/
.Rproj.user/
.quarto/
.jupyter_cache/
*_cache/
*.quarto_ipynb*
*_files/
/_site/
/_freeze/

# Ignore python cache and compiled files
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local IDE settings
.positron/
.vscode/

# Personal version of environment
my_environment.yml

# Per-post local R environment
.Renviron